.header{
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid rgb(226, 196, 150);
    background-color: blanchedalmond;
    border-radius: 10px;
    display: flex;
    justify-content: right;
}
.header-content{
    border: 3px solid rgb(226, 196, 150);
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}
th{
    text-align: left;
}
th, td{
    padding: 10px;
}
caption{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
tr:hover{
    background-color: blanchedalmond;
}